.top {
    width: auto;
    height: 180px;
}
.sylani_logo {
    position: relative;
    left: 430px;
    top: 30px;
}
.registration_form {
    position: relative;
    width: 520px;
    left: 370px;
    top: 30px;
    color: #4D56D8;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.blue_section {
    background-color: #4D56D8;
}

.name {
    width: auto;
    height: 50px;
    margin-top: 10px;
}
.first_name, .enter_first_name {
    display: inline;
    float: left;
}
.first_name {
    position: relative;
    left: 25px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_first_name {
    position: relative;
    left: 90px;
    padding: 10px;
    top: 7px;
    color: #AAABC1;

}
.name_max_character {
    position: relative;
    top: 15px;
    left: 100px;
    color: white;
}




.last {
    width: auto;
    height: 40px;
    margin: 2px;
}
.last_name, .enter_last_name {
    display: inline;
    float: left;
}
.last_name {
    position: relative;
    right: 80px;
    bottom: 15px;
    padding: 5px;
    color: white;
}
.enter_last_name {
    position: relative;
    padding: 10px;
    right: 10px;
    color: #AAABC1;

}
.last_max_character {
    position: relative;
    top: 15px;
    color: white;
}






.date {
    width: auto;
    height: 40px;
    margin: 2px;
}
.date_of_birth, .days, .months, .years {
    display: inline;
    float: left;
}
.date_of_birth {
    position: relative;
    bottom: 10px;
    right: 180px;
    padding: 5px;
    color: white;
}
.days {
    padding: 5px;
    position: relative;
    right: 139px;
    top: 5px;
}
.months {
    padding: 5px;
    position: relative;
    right: 139px;
    top: 5px;
}
.years {
    padding: 5px;
    position: relative;
    right: 139px;
    top: 5px;
}







.mail {
    width: auto;
    height: 40px;
    margin: 2px;
}
.mail_id, .enter_mail_id {
    display: inline;
    float: left;
}
.mail_id {
    position: relative;
    right: 307px;
    bottom: 15px;
    padding: 5px;
    color: white;
}
.enter_mail_id {
    position: relative;
    padding: 10px;
    right: 220px;
    color: #AAABC1;

}
.mail_max_character {
    position: relative;
    top: 15px;
    right: 205px;
    color: white;
}






.gen {
    width: auto;
    height: 40px;
    margin: 2px;
}
.gender, span {
    display: inline;
    float: left;
}
.gender {
    position: relative;
    right: 387px;
    bottom: 15px;
    padding: 5px;
    color: white;
}
.male {
    position: relative;
    padding: 10px;
    right: 276px;
    color: white;

}
.female {
    position: relative;
    padding: 10px;
    right: 265px;
    color: white;
}









.add {
    width: auto;
    height: 110px;
    margin: 2px;
}
.address, .enter_address {
    display: inline;
    float: left;
}
.address {
    position: relative;
    right: 444px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_address {
    position: relative;
    padding: 10px;
    right: 360px;
    top: 5px;
    color: #AAABC1;
}










.ci {
    width: auto;
    height: 50px;
    margin: 2px;
}
.city, .enter_city, .enter_max_city {
    display: inline;
    float: left;
}
.city {
    position: relative;
    left: 25px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_city {
    position: relative;
    padding: 10px;
    left: 145px;
    top: 5px;
    color: #AAABC1;
}
.enter_max_city {
    position: relative;
    top: 15px;
    left: 160px;
    color: white;
}










.pin {
    width: auto;
    height: 50px;
    margin: 2px;
}
.pin_code, .enter_pin_code, .max_digit {
    display: inline;
    float: left;
}
.pin_code {
    position: relative;
    right: 24px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_pin_code {
    position: relative;
    padding: 10px;
    left: 61px;
    top: 5px;
    color: #AAABC1;
}
.max_digit {
    position: relative;
    top: 15px;
    left: 78px;
    color: white;
}









.st {
    width: auto;
    height: 50px;
    margin: 2px;
}
.state, .enter_state, .state_max_character {
    display: inline;
    float: left;
}
.state {
    position: relative;
    right: 107px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_state {
    position: relative;
    padding: 10px;
    left:5px;
    top: 5px;
    color: #AAABC1;
}
.state_max_character {
    position: relative;
    top: 15px;
    left: 20px;
    color: white;
}








.count {
    width: auto;
    height: 50px;
    margin: 2px;
}
.country, .enter_country {
    display: inline;
    float: left;
}
.country {
    position: relative;
    right: 162px;
    bottom: 10px;
    padding: 5px;
    color: white;
}
.enter_country {
    position: relative;
    padding: 10px;
    right:80px;
    top: 5px;
    color: #AAABC1;
}










.hob {
    width: auto;
    height: 50px;
    margin: 2px;
}
.hobbies, .singing, .dancing, .sketching, .other {
    display: inline;
    float: left;
}
.hobbies {
    position: relative;
    bottom: 10px;
    right: 250px;
    padding: 5px;
    color: white;
}
.singing {
    position: relative;
    padding: 10px;
    right: 160px;
    top: 5px;
    color: white;
}
.dancing {
    position: relative;
    padding: 10px;
    right: 156px;
    top: 5px;
    color: white;
}
.sketching {
    position: relative;
    padding: 10px;
    right: 152px;
    top: 5px;
    color: white;
}
.other {
    position: relative;
    padding: 5px;
    top: 7px;
    right: 148px;
    color: white;
}






.table {
    width: auto;
    height: 160px;
}
.qualification {
    width: 135px;
    height: 12px;
    position: relative;
    bottom: 10px;
    right: 330px;
    padding: 5px;
    color: white;
}
.main_table {
    position: relative;
    right: 305px;
    padding: 15px;
    color: white;
}
.qualification, .main_table {
    display: inline;
    float: left;
}







.courses {
    width: auto;
    height: 50px;
    margin: 2px;
}
.courses_applied, .bca, .bcom, .bsc, .ba {
    display: inline;
    float: left;
}
.courses_applied {
    position: relative;
    bottom: 5px;
    padding: 5px;
    color: white;
}
.bca {
    position: relative;
    padding: 10px;
    top: 5px;
    left: 4px;
    color: white;
}
.bcom {
    position: relative;
    padding: 10px;
    top: 5px;
    left: 6px;
    color: white;
}
.bsc {
    position: relative;
    padding: 10px;
    top: 5px;
    left: 8px;
    color: white;
}
.ba {
    position: relative;
    padding: 10px;
    top: 5px;
    left: 10px;
    color: white;
}





.button {
    width: auto;
    height: 50px;
    margin: 2px;
}
.first_button {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    outline: 0;
    top: 3px;
    left: 40px;
    width: 110px;
}
a:link {
    text-decoration: none;
  }
.second_button {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    outline: 0;
    top: 3px;
    left: 40px;
    width: 110px;
}
.confirmation {
    width: 90%;
    height: 500px;
    margin: auto;
}
.green_icon {
    position: relative;
    left: 530px;
    top: 100px;
}
.thank_you {
    color: green;
    width: 200px;
    font-size: 230%;
    position: relative;
    top: 70px;
    left: 495px;
    padding: 10px;
}
.form_submitted {
    width: 490px;
    font-size: 150%;
    position: relative;
    left: 400px;
    top: 55px;
    color: #9141CB;
    font-weight: bold;
}
.go_back {
    width: 110px;
    font-size: 170%;
    position: relative;
    left: 540px;
    top: 45px;
    color: #642691;
    font-weight: bold;
}